.container {
    width: 80%;
    background-color: #808080
}

h1 {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40px;
    color: RGBA(0, 0, 255, 0.7);
}

h2 {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    height: 2.5rem;
    color: RGB(255, 255, 0);
}

h3 {
    font-size: 120%;
    font-family: cursive;
    height: 80%;
    color: purple;
}